<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" href="../.././public/main-styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="JS/jquery-3.5.1.min.js"></script>

    <title>Entrepôt</title>
    {{!-- <title>{{{ title }}}</title> --}}
</head>

<body>
    <!--Navbar-->
    <nav>
        <div class="navbar-top">
            <div>
                <button id="menuButton"><i class="fas fa-bars"></i></button>
                <!--Logo-->
                <a href="index.html">
                    <h2 class="logo">LOGO</h2>
                    <img class="logo" src="../.././images/logo.JPG" />
                </a>
            </div>
            <div>
                <!--My account part-->
                <div class="account">
                    <a href="/login">
                        <button class="account-btn">
                            <i class="fas fa-user-alt"></i>
                        </button>
                        <span class="account-text">My account</span>
                    </a>
                    <!--When we click the btnShowAccountInfo this section will be displayed-->
                </div>
            </div>
        </div>
        <!-- Navbar bottom part -->
        <!-- Here I put the links to the other pages or nav links -->
        <div class="navbar" id="navbar">
            <div class="links">
                <ul>

                    <li class="nav-links">
                        <a href="index.html" class="link">Product Listing</a>
                    </li>
                    <li class="nav-links">
                        <a href="product_details.html" class="link">Product Details</a>
                    </li>
                    <li class="nav-links">
                        <a href="offer_management.html" class="link">Offer Management</a>
                    </li>
                    <li class="nav-links">
                        <a href="deal_history.html" class="link">Deal History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{{{body}}}

<footer>
        <div class="footer-second">
            <div class="footer-column-2">
                <h3>Customer service</h3>
                <a href="#">Contact</a>
                <a href="#">common questions</a>
            </div>
            <div class="footer-column-3">
                <h3>About us</h3>
                <a href="#">Who we are</a>
                <a href="#">Our Services</a>
            </div>
        </div>
        <ul class="footer-last">
            <li>
                <p><i class="fab fa-cc-mastercard"></i></p>
            </li>
            <li>
                <p><i class="fab fa-cc-paypal"></i></p>
            </li>
            <li>
                <p><i class="fab fa-cc-visa"></i></p>
            </li>
            <li>
                <p><i class="fab fa-cc-amex"></i></p>
            </li>
        </ul>

        <div class="col-md-6 col-12 tm-color-gray tm-copyright">
            Copyright 2022 Entrepôt group
        </div>
    </footer>
</body>
</html>