<body>
<div class="container-fluid">
    <main class="tm-main">
        <div class="row tm-row tm-mb-45">
            <div class="col-12">
                <hr class="tm-hr-primary tm-mb-55">
                <div class="contact-error" id="contact-error">
                    {{#if hasError}}
                        {{error}}
                    {{/if}}
                </div>

            </div>
        </div>
        <div class="row tm-row tm-mb-120">
            <div class="col-12">
                <h2 class="tm-color-primary tm-post-title tm-mb-60">Contact Us</h2>
            </div>
            <div class="col-lg-7 tm-contact-left">
                <form method="POST" action="/contact" class="mb-5 ml-auto mr-0 tm-contact-form">
                    <div class="form-group row mb-4">
                        <label for="email" class="col-sm-3 col-form-label text-right tm-color-primary">E-mail</label>
                        <div class="col-sm-9">
                            <input class="form-control mr-0 ml-auto" name="contactEmailInput" id="email" type="email" required>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="subject" class="col-sm-3 col-form-label text-right tm-color-primary">Subject</label>
                        <div class="col-sm-9">
                            <input class="form-control mr-0 ml-auto" name="contactSubjectInput" id="subject" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row mb-5">
                        <label for="message" class="col-sm-3 col-form-label text-right tm-color-primary">Message</label>
                        <div class="col-sm-9">
                            <textarea class="form-control mr-0 ml-auto" name="contactMessageInput" id="message" rows="8"
                                      required></textarea>
                        </div>
                    </div>
                    <div class="form-group row text-right">
                        <div class="col-12">
                            <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 tm-contact-right">

                <p class="mb-5 tm-line-height-short">
                    We are a platform to help your life easier, let us know you are facing any fraud exchange or
                    fake user.
                    we are aim to build a safe and truthful community.
                </p>

            </div>
        </div>
    </main>
</div>
<script src="js/jquery.min.js"></script>
</body>
