<main>
<div class="container-fluid">
    <section class="tm-main">
        <div class="row tm-row tm-mb-45">
            <div class="col-12">
                <hr class="tm-hr-primary tm-mb-55">
                <div class="contact-error" id="contact-error">
                    {{#if hasError}}
                        {{error}}
                    {{/if}}
                </div>

            </div>
        </div>
        <div class="row tm-row tm-mb-120">
            <div class="col-12">
                <h2 class="tm-color-primary tm-post-title tm-mb-60">Contact Us</h2>
            </div>
            <div class="col-lg-7 tm-contact-left">
                <form method="POST" action="/contact" class="mb-5 ml-auto mr-0 tm-contact-form" id="contact-form">
                    <div class="form-group row mb-4">
                        <label for="contactEmail-input" class="col-sm-3 col-form-label text-right tm-color-primary">E-mail</label>
                        <div class="col-sm-9">
                            <input class="form-control mr-0 ml-auto" name="contactEmailInput" id="contactEmail-input" type="email" required>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="contactSubject-input" class="col-sm-3 col-form-label text-right tm-color-primary">Subject</label>
                        <div class="col-sm-9">
                            <input class="form-control mr-0 ml-auto" name="contactSubjectInput" id="contactSubject-input" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row mb-5">
                        <label for="contactMessage-input" class="col-sm-3 col-form-label text-right tm-color-primary">Message</label>
                        <div class="col-sm-9">
                            <textarea class="form-control mr-0 ml-auto" name="contactMessageInput" id="contactMessage-input" rows="8"
                                      required></textarea>
                        </div>
                    </div>
                    <div class="form-group row text-right">
                        <div class="col-12">
                            <button class="tm-btn tm-btn-primary tm-btn-small" id="contactBtn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 tm-contact-right">

                <p class="mb-5 tm-line-height-short">
                    We are a platform to help your life easier, let us know you are facing any fraud exchange or
                    fake user.
                    we are aim to build a safe and truthful community.
                </p>

            </div>
        </div>
    </section>
</div>
</main>

<!--<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="-->
<!--        crossorigin="anonymous"></script>-->


<script type="text/javascript">

    let contactBtn = document.getElementById('contactBtn');
    let contactError = document.getElementById('contact-error');
    let contactForm = document.getElementById('contact-form');
    let emailInput = document.getElementById('contactEmail-input');
    let subjectInput = document.getElementById('contactSubject-input');
    let msgInput = document.getElementById('contactMessage-input');
    let info;
    init();

    function validation(info) {
        //email check
        info.email = info.email.toLowerCase();
        const spaceRegex = /\s/;
        if (spaceRegex.test(info.email)) {
            return {
                hasError: true,
                error: 'Email must not contain space!',
            }
        }

        const emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$/;
        if (!emailRegex.test(info.email)) {
            return {
                hasError: true,
                error: 'Invalid email!',
            }
        }

        return {
            hasError: false,
            error: null,
        }
    }

    function init() {
        if (contactForm) {
            contactForm.addEventListener('submit', (event) => {
                console.log('start listening...');
                event.preventDefault();

                // let params = new FormData();

                if (emailInput.value.trim() && subjectInput.value.trim() && msgInput.value.trim()) {
                    info = {
                        email: emailInput.value.trim(),
                        subject: subjectInput.value.trim(),
                        msg: msgInput.value.trim(),
                    }
                    contactError.hidden = true;

                    //valid check
                    const validRes = validation(info);
                    if (!validRes.hasError) {
                        contactError.hidden = true;

                        console.log('correct inputs');
                        contactForm.submit();

                        // params.append('contactEmailInput', info.email);
                        // params.append('contactSubjectInput', info.subject);
                        // params.append('contactMessageInput', info.msg);
                        //
                        // console.log(params.contactMessageInput);
                        // $.ajax({
                        //     url: '/contact',
                        //     data: params,
                        //     method: 'POST',
                        //     cache: false,
                        //     contentType: false,
                        //     processData: false,
                        //     success: function(data){
                        //         console.log('ajax success')
                        //         let response = window.alert('Your feedback has been submitted.');
                        //         if (response) {
                        //             document.location.href = "/posts/products";
                        //         }
                        //         document.location.href = "/posts/products";
                        //     },
                        //     error: function(data) {
                        //         console.log('ajax error')
                        //         contactError.hidden = false;
                        //         contactError.innerHTML = data.responseJSON.result;
                        //
                        //     }
                        // })
                    }else{
                        console.log('invalid input');
                        emailInput.focus();
                        subjectInput.focus();
                        msgInput.focus();
                        contactError.hidden = false;
                        contactError.innerHTML = validRes.error;
                    }

                }else {
                    console.log('empty input');
                    emailInput.focus();
                    subjectInput.focus();
                    msgInput.focus();
                    contactError.hidden = false;
                    contactError.innerHTML = 'You must input email, subject, and description to create a message to us!'
                }

            })
        }
    }

</script>
