

<h1>{{title}}</h1>


<h2>
    This is a private page for user who is logged in
</h2>

<main>
    <p>Username: {{username}}</p>
    <p>Date/time: {{datetime}}</p>

    <a href="/logout">Logout</a>
</main>