<main>
    {{#if hasErrors}}
        <p class="error">
        {{error}}
        </p>
    {{/if}}
    <div class="container">
    <form action="/register" method="post" id="registration-form" class="login-form">
    <h2> Sign-UP</h2>       
    <input
    type="text"
    id="usernameinput"
    name="username"
    placeholder="username"/>

    <input
    name="email"
    id="emailinput"
    placeholder="email"/>

    <input
    type="password"
    id="passwordinput"
    name="password"
    placeholder="password"/>
    <button type="submit">Submit</button>
    <a href="/login" class="toblack">Click here to log-in!</a>
    </form>
    </div>
        
</main>




{{!-- <h1>{{title}}</h1>


<main>

    {{#if hasErrors}}
        <p class="error">
            {{error}}
        </p>
    {{/if}}

    <form action="/register" method="post" id="registration-form">

        <label for="usernameInput">
            username:
        </label>
        <input id="usernameInput" name="usernameInput">

        <br>

        <label for="emailInput">
            E-mail:
        </label>
        <input id="emailInput" name="emailInput">

        <br>

        <label for="passwordInput">
            password:
        </label>
        <input id="passwordInput" name="passwordInput" type="password">

        <br>
        <br>
        <button type="submit">Submit</button>
    </form>

    <br>
    <br>

    <a href="/">Already have an account? Click here to log-in!</a>

</main> --}}