

<h1>{{title}}</h1>



<main>

    {{# if hasErrors}}
        <p>{{error}}</p>
    {{/if}}

    <div class="container">
    <form action="/user/update" method="post" id="userUpdate-form">
        <input name = '_method' value="PUT" hidden/>

        <label for="usernameInput">
            username:
        </label>
        <input id="usernameInput" name="usernameInput"/>

        <label for="emailInput">
            E-mail:
        </label>
        <input id="emailInput" name="emailInput"/>

        <label for="originPasswordInput">
            Old Password:
        </label>
        <input id="originPasswordInput" name="originPasswordInput" type="password"/>

        <label for="newPasswordInput">
            New Password:
        </label>
        <input id="newPasswordInput" name="newPasswordInput" type="password"/>

        <br>
        <button type="submit" class="button-4">Submit</button>

        <br>
        <a href="/user/profile" class="button-4">Cancel</a>
    </form>
    </div>
    <br>
    <br>


</main>