<div class="alertMessage" id="errorBox" hidden>
  <span class="close" onclick="this.parentElement.style.display='none';">×</span>
</div>
<div class="panel-back">


  <div style="text-align:center;padding: 3%;width: 40%;margin: auto;">
    <section class="panel-detail-left" id="detailSection">
      <h1> Update offer</h1>
      <label class="inputTitle">
        Your Offer Id
      </label>
      <p id="offerId"></p>


      <div id="formLabel1" class="inputTitle">
        Desired Item Name
      </div>

      <form enctype="multipart/form-data" id="file_upload">
        <!-- <form method="post" action="/offers" enctype="multipart/form-data" id="file_upload"> -->

        <p id="postName" data-post-id="postId">Old sneakers</p>
        {{!-- <p id="senderId" send-id="senderId" hidden>buyer</p> --}}
        <br>
        <label for="offerItem" id="formLabel2" class="inputTitle">
          Offer Item Name
        </label><br>
        <input type="text" name="offerItem" id="offerItem" maxlength="30" class="createInputName"
          placeholder="No more than 30 characters.">
        <div id="offerItemError" class="errorLine" hidden>I'm an error</div>
        <br>
        <br>

        <label for="itemDesc" id="formLabel3" class="inputTitle">
          Degree of wear
        </label><br>
        <select class="createInputWear" id="wear">
          <option value="10">Like New</option>
          <option value="8">Good Condition</option>
          <option value="6">Fair Condition</option>
          <option value="4">Poor Condition</option>
          <option value="2">Need Repair</option>
          <option value="0">Sold As Component</option>
        </select>
        </input>
        <br>
        <br>

        <label for="itemDesc" id="formLabel4" class="inputTitle">
          Offer Item Description
        </label><br>
        <textarea name="itemDesc" id="itemDesc" maxlength="200" class="createInputDesc"
          placeholder="No more than 200 characters."></textarea>
        <div id="itemDescError" class="errorLine" hidden>I'm an error</div>
        <br>

      </form>


      </p>
    </section>


    <section class="panel-detail-right">

      <h1>Upload An Image</h1>


      <label for="file" class="uploadImgButton">Upload Image</label><br>
      <input type="file" id="file" name="upload_image" accept="image/gif, image/jpeg, image/png, image/jpg" hidden>
      <div id="imgError" class="errorLine" hidden>I'm an error</div>
      <!-- <p>Preview</p> -->
      <br>
      <img id="image-preview" class="createOfferImg" src="../../public/images/no.png" alt="origin offer item" hidden>
      <p id="imgSizeInfo" class="imgSize"></p>
      <br>
      <label onclick="document.location.href = '/offers/myOffers'" class="uploadImgButton">Back To MyOffers</label>
      <input type="button" value="SUBMIT" id="submit" class="createOfferButton" />

    </section>
  </div>

</div>



<div id="div5" hidden>111</div>
</main>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script type="text/javascript">

  let flag = false;
  let previousImg;
  offerData = {{{result}}};
  // console.log(offerData);
  let preview = document.getElementById('image-preview');
  document.getElementById("offerItem").value = offerData.offerItem;
  document.getElementById("itemDesc").value = offerData.itemDesc;
  document.getElementById("wear").value = offerData.wear;
  document.getElementById("offerId").innerHTML = offerData._id;
  preview.src = "/offers/images/" + offerData.imgName;
  preview.hidden = false;
  preview.display = true;
  //document.getElementById("file").files[0] = "/offers/images/" + offerData.imgName;


  function srcToFile(src, fileName, mimeType) {
    return (fetch(src)
      .then(function (res) { return res.arrayBuffer(); })
      .then(function (buf) { return new File([buf], fileName, { type: mimeType }); })
    );
  }

  srcToFile(
    "/offers/images/" + offerData.imgName,
    'z',
    'image/' + offerData.imgName.split(".")[1]
  )
    .then(function (file) {
      previousImg = file;
      console.log()
    })
    .then(function (result) {
      console.log();
    });




  //console.log(previousImg);


  let fileInput = document.getElementById('file');
  let info = document.getElementById('imgSizeInfo');
  let validImgFlag = false;

  fileInput.addEventListener('change', function () {
    info.className = "errorLine";
    // 清除背景图片:
    preview.style.backgroundImage = '';
    //if (!fileInput.value) {
    //info.innerHTML = 'You did not upload a image';
    //return;
    //}
    let file = fileInput.files[0];
    let size = file.size;
    if (size >= 1 * 1024 * 1024) {
      //alert('文件大小超出限制');
      info.innerHTML = 'The images\'s size exceeds maximum. Please upload a new image smaller than 1MB';
      preview.src = null;
      preview.hidden = true;
      return false;
    }
    // 获取File信息:
    // info.innerHTML = `文件名称:  + ${file.name}<br>文件大小: ${file.size} <br>上传时间: ${file.lastModifiedDate}`;
    info.innerHTML = `Image Size: ${(file.size / 1024).toFixed(2) + " KB"}`;
    if (!['image/jpeg', 'image/png', 'image/gif'].includes(file.type)) {
      alert('Not a valid image format!');

      return;
    }
    // 读取文件:
    let reader = new FileReader();
    reader.onload = function (e) {
      let data = e.target.result;
      preview.hidden = false;
      preview.display = true;
      preview.src = data
    };
    // 以DataURL的形式读取文件:
    reader.readAsDataURL(file);

    flag = true;
    validImgFlag = true;
    info.className = "errorLine-size";
    imgError = document.getElementById("imgError");
    imgError.hidden = true;
    imgError.display = false;

  });

  // let params = {};

  let submit = document.getElementById("submit");




  submit.onclick = function () {
    let params = new FormData();
    let errorFound = false;
    let inputPostTitle = document.getElementById("offerItem").value.toString().trim();
    let pattern = /[^a-zA-Z0-9\s-\'.]/;
    if (document.getElementById("offerItem").value == null || document.getElementById("offerItem").value.toString().trim().length < 2) {
      offerItemError = document.getElementById("offerItemError");
      offerItemError.hidden = false;
      offerItemError.display = true;
      offerItemError.innerHTML = "You must provide a not-null name and it must at least have 2 charcters";
      errorFound = true;
    }
    if(pattern.test(inputPostTitle)==true){
      offerItemError = document.getElementById("offerItemError");
      offerItemError.hidden = false;
      offerItemError.display = true;
      offerItemError.innerHTML = "Title can only contain letters a-z, A-Z , numbers, space and .\'-";
      errorFound = true;
    }
    if (document.getElementById("itemDesc").value == null || document.getElementById("itemDesc").value.toString().trim().length == 0) {
      itemDescError = document.getElementById("itemDescError");
      itemDescError.hidden = false;
      itemDescError.display = true;
      itemDescError.innerHTML = "You must provide a not-null description";
      errorFound = true;
    }


    if (flag == true) {
      paramFile = document.getElementById("file").files[0];
    } else {
      paramFile = previousImg;
      validImgFlag = true;
    }


    if (document.getElementById("file").files[0] == null || document.getElementById("file").files[0] == undefined || validImgFlag != true) {
      if (paramFile == null) {
        imgError = document.getElementById("imgError");
        imgError.hidden = false;
        imgError.display = true;
        imgError.innerHTML = "You must provide a image of your item";
        errorFound = true;
      }
    }
    if (errorFound == true || validImgFlag != true) {
      return;
    }




    params.append("upload_image", paramFile)
    //params.append("senderId", offerData.senderId);
    params.append("postId", offerData.postId);
    params.append("sellerId", "seller");
    params.append("offerItem", document.getElementById("offerItem").value);
    params.append("itemDesc", document.getElementById("itemDesc").value);
    params.append("wear", document.getElementById("wear").value);


    $.ajax({
      url: '/offers/offer/' + offerData._id,
      data: params,
      cache: false,
      // contentType: 'multipart/form-data',
      contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
      processData: false,
      type: 'PUT',
      success: function (data) {
        id = data.result._id;
        document.location.href = "/offers/offer/" + id + "?updated=true";
      },
      error: function (data) {
        errorBox = document.getElementById("errorBox");

        errorBox.hidden = false;
        errorBox.display = true;
        errorBox.innerHTML = data.responseJSON.result;
        span = document.createElement("span");
        span.innerHTML = "×";
        span.className = "close";
        //span.onclick = "this.parentElement.style.display='none';";
        span.onclick = function closeWarningBox() {
          document.getElementById("errorBox").display = false;
          document.getElementById("errorBox").hidden = true;
        };
        errorBox.appendChild(span);

      }
    });
  };



</script>