<main>
    <div class="alertMessage" id="errorBox" hidden>
      <span class="close" onclick="this.parentElement.style.display='none';">×</span>
      <!-- <p id="errorContent"></p> -->
    </div>
    
    

    <div class="panel-myOffers-back">
      <div class="panel-myOffers">
            <div class="myOffersHead">Welcome to MyOffers Management!</div>
            <div class="myLineHead"> </div>
            <div style="margin-top:20px">
              <p class="explanation">Welcome to MyOffers Management! You could manage all the offers you sent to others about their posted items.<br>
                You could view your offers in the following 4 zones: <br>
                - Ongoing: During Negotiation<br>
                - Awaiting: Waiting For Response<br>
                - Finished: Have Finished<br>
                - Failed: The posted item has been traded with other people.

              </p>
            </div>
            <div class="product-container" id="zone1">
              <p class="myOffersTitle">Ongoing Offers</p>
              <div class="myLine"> </div>
              <div class="products" id="ongoing">
            </div></div>

            <div class="product-container" id="zone2">
              <p class="myOffersTitle">Offers Awaiting Accept</p>
              <div class="myLine"> </div>
              <div class="products" id="awaiting">
            </div></div>

            <div class="product-container" id="zone3">
              <p class="myOffersTitle">Finished Offers</p>
              <div class="myLine"> </div>
              <div class="products" id="finished">
            </div></div>

            <div class="product-container" id="zone4">
              <p class="myOffersTitle">Failed Offers</p>
              <div class="myLine"> </div>
              <div class="products" id="failed">
            </div></div>

      </div>
          
    </div>
    
            
    

    <div id="div5" hidden>111</div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>
<script type="text/javascript" src='../../public/js/myOffers.js'></script>