<main>
    <div class="alertMessage" id="errorBox">
      <span class="close" onclick="this.parentElement.style.display='none';">×</span>
      <!-- <p id="errorContent"></p> -->
    </div>
    
    <div class="panel-myOffers-back">
      <div class="panel-myOffers">
            <div class="myOffersHead">Welcome to Deal Management!</div>
            <div class="myLineHead"> </div>
            <div class="product-container" id="zone1">
              <p class="myOffersTitle">Ongoing Deals</p>
              <div class="myLine"> </div>
              <div class="products" id="ongoing">
            </div></div>

            <div class="product-container" id="zone2">
              <p class="myOffersTitle">Negotiating Deals</p>
              <div class="myLine"> </div>
              <div class="products" id="freezed">
            </div></div>

            <div class="product-container" id="zone3">
              <p class="myOffersTitle">Finished Deals</p>
              <div class="myLine"> </div>
              <div class="products" id="finished">
            </div></div>

            <div class="product-container" id="zone4">
              <p class="myOffersTitle">I Bought</p>
              <div class="myLine"> </div>
              <div class="products" id="bought">
            </div></div>

        
      </div>
          
    </div>
    
            
    

    
</main>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>
<script type="text/javascript" src='../../public/js/myPosts.js'></script>