<main>
  <div class="alertMessage" id="errorBox" hidden>
    <span class="close" onclick="this.parentElement.style.display='none';">×</span>

  </div>
  <div class="panel-back">

    <div style="text-align:center;padding: 3%;width: 50%;margin: auto;">
      <section class="panel-detail-left" id="detailSection">
        <h1>Offer Detail</h1>
        <div id="detailsContent" style="text-align: center;">
        </div>
        <br>
        </p>
      </section>


      <section class="panel-detail-right">



        <p class="inputTitle">Offer Item Image</p>
        <!-- <p>Preview</p> -->
        <img id="image-offer" class="offerDetailImg" src="" alt="offer item">
        <br>
        <br>
        <p class="inputTitle">Post Item Image</p>
        <img id="image-post" class="offerDetailImg" src="" alt="post item">

        </p>
        <a id="editButton">Edit</a>
        <label onclick="document.location.href = '/offers/myOffers'" class="btn-viewMyOffers" id="backToMyOffers">Back
          To MyOffers</label>
        {{!-- <a id="allMySentButton" class="btn-viewMyOffers" href="/offers/myOffers">Back To MyOffers</a> --}}
      </section>
    </div>
  </div>



</main>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script type="text/javascript">


  // let offerId = '63928aa6f9cd290b164e738c';
  let offerData;
  let statusColor;


  init();


  function init() {

    offerData = {{{result}}};
  offerId = offerData._id;


  editButton = document.getElementById("editButton");

  //console.log("================", offerData.role)
  if (offerData.role == "buyer") {
    editButton.innerHTML = "Edit";

    if (offerData.status != -1 && offerData.status != 0) {
      editButton.className = "edit-banned";
      editButton.disabled = true;
      // editButton.setAttribute("disabled", "disabled");

    } else {
      editButton.className = "uploadImgButton";
      editButton.href = '/offers/edit/' + offerId;
    }
  }
  else if (offerData.role == "seller") {
    editButton.hidden = true;
    document.getElementById("backToMyOffers").innerHTML = "Back To MyPosts";
    document.getElementById("backToMyOffers").onclick = function () {
      document.location.href = '/offers/myPosts/';
    }


  } else {
    document.getElementById("detailSection").removeChild(document.getElementById("allMySentButton"));
    document.getElementById("detailSection").removeChild(document.getElementById("editButton"));
  }



  if (offerData.msg != null) {
    msgBox = document.getElementById("errorBox");
    msgBox.hidden = false;
    msgBox.display = true;
    // msgBox.setAttribute("display", true);
    msgBox.innerHTML = offerData.msg;
    msgBox.className = "successMessage";
    span = document.createElement("span");
    span.innerHTML = "×";
    span.className = "close";
    //span.onclick = "this.parentElement.style.display='none';";
    span.onclick = function closeWarningBox() {
      document.getElementById("errorBox").display = false;
      document.getElementById("errorBox").hidden = true;
    };
    msgBox.appendChild(span);
  }

  getImage();

  switch (offerData.wear) {
    case '10':
      offerData.wear = "Like New";
      break;
    case '8':
      offerData.wear = "Good Condition";
      break;
    case '6':
      offerData.wear = "Fair Condition";
      break;
    case '4':
      offerData.wear = "Poor Condition";
      break;
    case '2':
      offerData.wear = "Need Repair";
      break;
    case '0':
      offerData.wear = "Sold As Component";
      break;
  }

  switch (offerData.status) {
    case -2:
      offerData.status = "Failed";
      statusColor = "#858585";
      break;
    case -1:
      offerData.status = "Freezed";
      statusColor = "#00b2e9";
      break;
    case 0:
      offerData.status = "Awaiting";
      statusColor = "#ad6500";
      break;
    case 1:
      offerData.status = "Accepted";
      statusColor = "#9cc700";
      break;
    case 2:
      offerData.status = "Deal Completed";
      statusColor = "#35bb01";
      break;

  }


  fillData();



    }

  function getOfferById() {
    $.ajax({
      type: "get",
      url: '/offers/offer/' + offerId,
      cache: false,
      async: false,
      success: function (data) {
        offerData = data.result;
      }
    })
  }

  function getImage() {
    // document.getElementById("img").src = "images/"+imgName;
    document.getElementById("image-offer").src = "/offers/images/" + offerData.imgName;
    document.getElementById("image-post").src = "/posts/images/" + offerData.postImgName;
  }

  function fillData() {
    detailSection = document.getElementById("detailsContent");

    offerIdTag = document.createElement("p");
    offerIdTag.innerHTML = "ID:  " + offerData._id;

    offerNameTag = document.createElement("p");
    offerNameTag.innerHTML = "Item:  " + offerData.offerItem;

    offerDescTag = document.createElement("p");
    offerDescTag.innerHTML = "Description:  " + offerData.itemDesc;
    offerDescTag.className = "LimitPWeight";

    offerWearTag = document.createElement("p");
    offerWearTag.innerHTML = "Degree of Wear:  " + offerData.wear;

    offerUserTag = document.createElement("a");
    offerUserTag.innerHTML = "Sender Profile";
    offerUserTag.href = "/user/profile/" + offerData.senderName;
    offerUserTag.className = "uploadImgButton";

    posterProfileTag = document.createElement("a");
    posterProfileTag.innerHTML = "Poster Profile";
    posterProfileTag.href = "/user/profile/" + offerData.posterName;
    posterProfileTag.className = "uploadImgButton";

    postDetailTag = document.createElement("a");
    postDetailTag.innerHTML = "Post Item Detail";
    postDetailTag.href = "/offers/post/" + offerData.postId;
    postDetailTag.className = "uploadImgButton";

    offerContactTag = document.createElement("p");
    offerContactTag.innerHTML = "Contact:  " + offerData.senderContact;

    postItemTag = document.createElement("p");
    postItemTag.innerHTML = "Item:  " + offerData.postTitle;

    postUserTag = document.createElement("p");
    postUserTag.innerHTML = "User:  " + offerData.posterName;

    contactTag = document.createElement("p");
    contactTag.innerHTML = "Contact:  " + offerData.sellerContact;

    statusContent = document.createElement("p");
    statusContent.innerHTML = "Status: " + offerData.status;

    statusContent.className = "detailStatus";
    statusContent.style.backgroundColor = statusColor;
    // detailSection.appendChild(document.createElement("br"));
    detailSection.appendChild(statusContent);
    detailSection.appendChild(document.createElement("br"));

    offerHeadline = document.createElement("h2");
    offerHeadline.innerHTML = "OFFER";
    offerHeadline.className = "inputTitle";
    detailSection.appendChild(offerHeadline);
    detailSection.appendChild(offerIdTag);
    detailSection.appendChild(offerNameTag);
    detailSection.appendChild(offerDescTag);
    detailSection.appendChild(offerWearTag);
    detailSection.appendChild(offerContactTag);
    detailSection.appendChild(offerUserTag);

    detailSection.appendChild(document.createElement("br"));
    detailSection.appendChild(document.createElement("br"));
    postHeadline = document.createElement("h2");
    postHeadline.innerHTML = "POST";
    postHeadline.className = "inputTitle";
    detailSection.appendChild(postHeadline);
    detailSection.appendChild(postItemTag);
    detailSection.appendChild(postUserTag);
    detailSection.appendChild(contactTag);
    detailSection.appendChild(posterProfileTag);
    detailSection.appendChild(document.createElement("br"));
    detailSection.appendChild(postDetailTag);

  }





</script>