
<main>
    <section class="main-section">

      <div id="currentAccept">
        <h3>Current Accepted Offer</h3>

        <div id="left-box" class="box">
          <img id="my-item" class="img">
        </div>

        <div id="med-box" class="exchg">
          <img id="exchg-sign">
        </div>

        <div id="right-box" class="box">
          <img id="offer-item" class="img">
        </div>

        <div id="content-box" class="content">
          <p >Offer Item Name:   </p>
          <p id="offerItem" class="currentAns"></p>

          <p>Deal Status:  </p>
          <p id="offerStatus" class="currentAns"></p>
          
        </div>


        <div id="buttons">
          <button id="cancelAcceptButton" class="btn-accept">Cancel Accept</button>
          <button id="confirmButton" class="btn-confirm">Confirm</button>
        </div>

      </div>




      <div class="product-container">
        <h3>Other Offers</h3>

        
        <div class="products" id="products">
        </div>

      </div>
    </section>

    <div id="div5" hidden>111</div>

</main>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>
<script type="text/javascript" src='../../public/js/offersList.js'></script>