
<main>
  <div class="panel-myOffers-back">
      <div class="panel-myOffers">
    {{!-- <section class="main-section"> --}}

      <div id="currentAccept">
        <div class="myOffersHead">Received Offers Management</div>
        <div class="myLineHead"> </div>
        
        <div style="margin-bottom:0px" ><br></div>
        <p class="myOffersTitle">You Currently Accepted</p>
              <div class="myLine"> </div>
        <div id="left-box" class="box">
          <img id="my-item" class="img">
        </div>

        <div id="med-box" class="exchg">
          <img id="exchg-sign">
        </div>

        <div id="right-box" class="box">
          <img id="offer-item" class="img">
        </div>

        <div id="content-box" class="content">
          <p >Offer Item Name:   </p>
          <p id="offerItem" class="currentAns"></p>

          <p>Deal Status:  </p>
          <p id="offerStatus" class="currentAns"></p>
          
        </div>


        <div id="buttons">
          <button id="cancelAcceptButton" class="btn-accept">Cancel Accept</button>
          <button id="confirmButton" class="btn-confirm">Confirm</button>
        </div>

      </div>




      <div class="product-container">
        <p class="myOffersTitle">Other Offers</p>
              <div class="myLine"> </div>

        
        <div class="products" id="products">
        </div>

      </div>
    {{!-- </section> --}}

  </div>
          
</div>
    <div id="div5" hidden>111</div>

</main>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>
<script type="text/javascript" src='../../public/js/offersList.js'></script>