<main>
    <div class="alertMessage" id="errorBox" hidden>
      <span class="close" onclick="this.parentElement.style.display='none';">×</span>
      
    </div>
    <div class="panel-back">
      
        <div style="text-align:center;padding: 3%;width: 50%;margin: auto;">
          <section class="panel-detail-left" id="detailSection">
            <h1>Post Detail</h1>
            <div id="detailsContent" style="text-align: center;">
            </div>
            </p>
        </section>
        <section class="panel-detail-right" id="right-section">
          <p class="inputTitle">Post Item Image</p>
          <img id="image-post" class="offerDetailImg" alt="Post item">
          </p>
          <a id="editButton">Edit</a>
          <label class="btn-viewMyOffers" id="posterProfileButton">Poster Profile</label>
          <a id="viewOffersButton">View Offers</a>
          <label onclick = "document.location.href = '/offers/myPosts'" class="btn-viewMyOffers" id="backToMyDeals">Back To MyDeals</label>
          {{!-- <a id="allMySentButton" class="btn-viewMyOffers" href="/offers/myOffers">Back To MyOffers</a> --}}
      </section>
        </div>
      </div>
          

    
  </main>


  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>

  <script type="text/javascript">


    // let offerId = '63928aa6f9cd290b164e738c';
    let postData;
    let statusColor;
    

    init();


    function init(){

        postData = {{{result}}};
        console.log(postData);
        postId  =  postData._id;

        editButton = document.getElementById("editButton");
        //allButton = document.getElementById("allMySentButton");
        viewOffersButton = document.getElementById("viewOffersButton");
        if(postData.role == "seller") {
          editButton.innerHTML = "Edit";
          viewOffersButton.href = "/offers/offersOf/" +postId;
          viewOffersButton.className = "uploadImgButton"
          if(postData.tradeStatus == 1 || postData.tradeStatus == 2) {
            editButton.className = "edit-banned";
            editButton.href = "javascript:void(0)";
            // editButton.setAttribute("disabled","disabled");

          }else{
            editButton.className = "uploadImgButton" ;
            // 👇修改为修改post页面
            editButton.href = '/posts/edit/'+postId;
          }
        }
        else if (postData.role == "viewer") {
          //document.getElementById("detailSection").removeChild(document.getElementById("allMySentButton"));
          document.getElementById("right-section").removeChild(document.getElementById("editButton"));
          document.getElementById("right-section").removeChild(document.getElementById("viewOffersButton"));
          document.getElementById("backToMyDeals").onclick = function(){
            document.location.href = '/posts/products';
          }
          document.getElementById("backToMyDeals").innerHTML = "Back To Products";
        } 

        document.getElementById("posterProfileButton").onclick = function() {
            document.location.href = '/user/profile/' + postData.username;
        }


        if(postData.msg != null) {
          msgBox = document.getElementById("errorBox");
          msgBox.hidden = false;
          msgBox.display = true;
          msgBox.innerHTML = postData.msg;
          msgBox.className = "successMessage";
          span = document.createElement("span");
          span.innerHTML = "×";
          span.className = "close";
          
          
          //span.onclick = "this.parentElement.style.display='none';";
          span.onclick = function closeWarningBox() {
                          document.getElementById("errorBox").display = false;
                          document.getElementById("errorBox").hidden = true;
                        };
          msgBox.appendChild(span);
          

        }
        
        getImage();

        
        switch (postData.tradeStatus) {
            case 0:
            postData.tradeStatus = "Awaiting Offers";
            statusColor = "#ad6500";
            break;
            case 1:
            postData.tradeStatus = "Negotiating";
            statusColor = "#9cc700";
            break;
            case 2:
            postData.tradeStatus = "Deal Completed";
            statusColor = "#35bb01";
            break;
            
        }

        switch (postData.category) {
            case "0":
            postData.category = "Not Specified";
            break;
            case "1":
            postData.category = "Apparel or Accessories";
            break;
            case "2":
            postData.category = "Jewelry or Watches";
            break;
            case "3":
            postData.category = "Motors, Style or Fashion";
            break;
            case "4":
            postData.category = "Home or Garden";
            break;
            case "5":
            postData.category = "Sporting Goods";
            break;
            case "6":
            postData.category = "Health or Wellness";
            break;
            case "7":
            postData.category = "Medical Health";
            break;
            case "8":
            postData.category = "Children or Infants";
            break;
            case "9":
            postData.category = "Pets or Pets Supplies";
            break;
            case "10":
            postData.category = "Consumer Electronic Goods";
            break;
            case "11":
            postData.category = "Home Improvement";
            break;
            case "12":
            postData.category = "Collectibles or Art";
            break;
            case "13":
            postData.category = "Other Categories / To Be Categorized";
            break;

            
            
        }


        fillData();


        
    }


    function getImage(){
        // document.getElementById("img").src = "images/"+imgName;
        document.getElementById("image-post").src = "/posts/images/" + postData.imgFile;
    }

    function fillData() {
      detailSection = document.getElementById("detailsContent");

      postIdTag = document.createElement("p");
      postIdTag.innerHTML = "ID:  " + postData._id;

      postNameTag = document.createElement("p");
      postNameTag.innerHTML = "Item:  " + postData.title;

      postDescTag = document.createElement("p");
      postDescTag.innerHTML = "Description:  " + postData.body;
      postDescTag.className = "LimitPWeight";

      posterNameTag = document.createElement("p");
      posterNameTag.innerHTML = "Poster Username:  " + postData.username;

      postCateTag = document.createElement("p");
      postCateTag.innerHTML = "Category:  " + postData.category;
      //offerWearTag = document.createElement("p");
      //offerWearTag.innerHTML = "Degree of Wear:  " + offerData.wear;

      postContactTag = document.createElement("p");
      postContactTag.innerHTML = "Contact:  " + postData.contact;


      statusContent = document.createElement("p");
      statusContent.innerHTML = "Status: " + postData.tradeStatus;
      statusContent.className = "detailStatus";
      statusContent.style.backgroundColor = statusColor;
      // detailSection.appendChild(document.createElement("br"));
      detailSection.appendChild(statusContent);



      detailSection.appendChild(postIdTag);
      detailSection.appendChild(posterNameTag);
      detailSection.appendChild(postNameTag);
      detailSection.appendChild(postDescTag);
      detailSection.appendChild(postCateTag);
      detailSection.appendChild(postContactTag);
    }

  
    
    
  
  </script>