


<main class="landing-page">
    <h1 class="landing-title">{{title}}</h1>

    <p class="landing-text">Inspired by the adage one man’s trash is another man’s treasure, the prime objective of our project is to concoct a web
        application that is an asset to people who want to exchange products that are redundant to them or shop thriftily.
        All transactions are completed directly between the sellers and buyers so it's completely decentralized. our
        application is attempting to make this planet a better place to live as we’re trading vintage.
    </p>
    <br>

    <p class="landing-text">Our web application is named 'Entrepôt', which is an online system for our customers to exchange their second-hand or
        any stuff they don't need any more to other customers.In our platform, every user could be a seller and buyer at the
        same time. Moreover, they have rights to withdraw their product exchange posts, choose a buyer they trust, negotiate
        the trade method and details with another trader they want to buy or sell with.
    </p>

    <br>

    <p class="landing-text">We, as the developers, will be not involved into the trade process. We only provide the platform for someone who needs it.</p>


    <p>
        <a href="/login" target="_blank" aria-label="click to login">Click to Login</a>
        <br>
        <a href="/register" target="_blank" aria-label="click to sign up">Click to Sign-up</a>
</main>