

<main class="login-page">
    <div class="login-content">
        <div class="login-error" id="login-error">
            {{#if hasErrors}}
                <p>
                    {{error}}
                </p>
            {{/if}}
        </div>

        <form action="/login" method="post" id="login-form" class="login-form">
            <h3 class="login-title">Welcome to Entrepôt</h3>

            <label for="login-usernameInput"></label>
            <input
            type="text"
            id="login-usernameInput"
            name="usernameInput"
            placeholder="username"/>

            <label for="login-passwordInput"></label>
            <input
            type="password"
            id="login-passwordInput"
            name="passwordInput"
            placeholder="password"/>

            <button type="submit" id="login-button">Submit</button>
            <br>
            <a href="/register" target="_blank" class="signup-link">Click here to register!</a>

        </form>
    </div>
</main>
