



<h1>{{title}}</h1>

<main>
    {{#if hasErrors}}
        <p class="error">
            {{error}}
        </p>
    {{/if}}

    <form action="/login" method="post" id="login-form">
        <label for="usernameInput">
            username:
        </label>
        <input id="usernameInput" name="usernameInput"/>

        <label for="passwordInput">
            password:
        </label>
        <input id="passwordInput" name="passwordInput" type="password"/>

        <br>
        <br>
        <button type="submit">Submit</button>
    </form>

    <br>
    <br>

    <a href="/register">Click here to register!</a>
</main>