

<h1>{{title}}</h1>

<<<<<<< HEAD
<main>
=======
<body>
>>>>>>> dbca148bbf153cb7771c77dbbc4f98c4a779f135

    {{#if hasErrors}}
        <p class="error">
            {{error}}
        </p>
    {{/if}}

    <form action="/review/addReview/6387f1fd73e6af3e6a39b074" method="post">
<<<<<<< HEAD

        <label for="titleInput">
=======
     <main class="main">
            <section class="container">
              <div class="title">
                <h2>Reviews Card</h2>
                <div class="underline"></div>
              </div>
              <article class="review">
                
                <label for="titleInput">
                    Title:
                </label>
                <input id="titleInput" name="titleInput"/>

                <label for="ratingInput">
                    Rating:
                </label>
                <input id="ratingInput" name="ratingInput" type="number"/>
                
                <label for="bodyInput">
                    Description:
                </label>
                <textarea id="bodyInput" name="bodyInput" rows="5" width="50%"></textarea>

                  <br>
                <div class="bottonjj">
                <button class="button-4" type="submit">Submit</button>
                </div>
                
                
              </article>
            </section>
          </main>

    </form>

        {{!-- <label for="titleInput">
>>>>>>> dbca148bbf153cb7771c77dbbc4f98c4a779f135
            Title:
        </label>
        <input id="titleInput" name="titleInput"/>

        <br>

        <label for="bodyInput">
            Description:
        </label>
        <input id="bodyInput" name="bodyInput"/>

        <br>

        <label for="ratingInput">
            Rating:
        </label>
        <input id="ratingInput" name="ratingInput" type="number"/>

        <br>
        <br>
        <button type="submit">Submit</button>


<<<<<<< HEAD
    </form>

</main>
=======
    </form> --}}

</body>
>>>>>>> dbca148bbf153cb7771c77dbbc4f98c4a779f135
