<main>
  <div class="card container" id="cont">
    <h1>Successfully deleted</h1>
    <h3>This product will be deleted on product List page</h3>
    <div>
      <p>{{message}}</p>
    </div>
    {{#if message}}
    <a class="toProduct" href="/list">Go to product page</a>
    {{/if}}
  </div>

</main>