<main>
  <div class="card container" style="box-decoration-break:50px;" id="cont">
    <h1 style="margin: 50px; color:red">Successfully deleted</h1>
    <h3 style="margin: 50px; ">This product will be deleted on product List page</h3>
    <div>
      <p>{{message}}</p>
    </div>
    {{#if message}}
    <a class="toProduct" href="/list">Go to product page</a>
    {{/if}}
  </div>

</main>