<div class="alertMessage" id="errorBox" hidden>
    <span class="close" onclick="this.parentElement.style.display='none';">×</span>
</div>
<div class="panel-back">

    <div style="text-align:center;padding: 3%;width: 40%;margin: auto;">
        <section class="panel-detail-left" id="detailSection">
            <h1> Register a new Post</h1>


            <form enctype="multipart/form-data" id="file_upload">

                <label for="offerItem" id="formLabel1" class="inputTitle">
                    Item Name
                </label><br>
                <input type="text" name="offerItem" id="offerItem" maxlength="30" class="createInputName"
                    placeholder="No more than 30 characters.">
                <div id="offerItemError" class="errorLine" hidden>I'm an error</div>
                <br>
                <br>

                <label for="postRegister-category" id="formLabel2" class="inputTitle">
                    Category
                </label><br>
                <select class="createInputWear" id="postRegister-category" name="postRegCategoryInput">
                    <option value="0">Choose Your Category</option>
                    <option value="1">Apparel or Accessories</option>
                    <option value="2">Jewelry or Watches</option>
                    <option value="3">Motors, style or Fashion</option>
                    <option value="4">home or garden</option>
                    <option value="5">sporting Goods</option>
                    <option value="6">Health or Wellness</option>
                    <option value="7">Medical Health</option>
                    <option value="8">Children or infants</option>
                    <option value="9">Pets or Pets supplies</option>
                    <option value="10">Consumer Electronic Goods</option>
                    <option value="11">Home improvement</option>
                    <option value="12">Collectibles or Art</option>
                    <option value="13">other Categories / to be categorized</option>
                </select>
                </input>

                <br><br>


                <label for="itemDesc" id="formLabel3" class="inputTitle">
                    Item Description
                </label><br>
                <textarea name="itemDesc" id="itemDesc" maxlength="200" class="createInputDesc"
                    placeholder="No more than 200 characters."></textarea>
                <div id="itemDescError" class="errorLine" hidden>I'm an error</div>
                <br>


            </form>
        </section>


        <section class="panel-detail-right">

            <div style="text-align: center;">
                <p class="inputTitle">Upload An Image</p>
            </div>

            <p>
                <label for="file" class="uploadImgButton">Upload Image</label>
                <input type="file" id="file" name="upload_image" accept="image/gif, image/jpeg, image/png, image/jpg"
                    hidden>
            <div id="imgError" class="errorLine" hidden>I'm an error</div>
            <!-- <p>Preview</p> -->

            <img id="image-preview" class="createOfferImg" src="../../public/images/no.png" alt="post item" hidden>

            <p id="imgSizeInfo" class="errorLine"></p>
            <input type="button" value="SUBMIT" id="submit" class="createOfferButton" style="margin-bottom: 0%;" />
            </p>
        </section>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<script type="text/javascript">

    let fileInput = document.getElementById('file');
    let info = document.getElementById('imgSizeInfo');
    let preview = document.getElementById('image-preview');
    let validImgFlag = false;
    // 监听change事件:
    fileInput.addEventListener('change', function () {
        info.className = "errorLine";
        // 清除背景图片:
        preview.style.backgroundImage = '';
        //if (!fileInput.value) {
        //info.innerHTML = 'You did not upload a image';
        //return;
        //}
        let file = fileInput.files[0];
        let size = file.size;
        if (size >= 1 * 1024 * 1024) {
            //alert('文件大小超出限制');
            info.innerHTML = 'The images\'s size exceeds maximum. Please upload a new image smaller than 1MB';
            return false;
        }
        // 获取File信息:
        // info.innerHTML = `文件名称:  + ${file.name}<br>文件大小: ${file.size} <br>上传时间: ${file.lastModifiedDate}`;
        info.innerHTML = `Image Size: ${(file.size / 1024).toFixed(2) + " KB"}`;
        if (!['image/jpeg', 'image/png', 'image/gif'].includes(file.type)) {
            alert('Not a valid image format!');
            return;
        }
        // 读取文件:
        let reader = new FileReader();
        reader.onload = function (e) {
            let data = e.target.result;
            preview.hidden = false;
            preview.display = true;
            preview.src = data
        };
        // 以DataURL的形式读取文件:
        reader.readAsDataURL(file);

        validImgFlag = true;
        info.className = "errorLine-size";
        imgError = document.getElementById("imgError");
        imgError.hidden = true;
        imgError.display = false;
        

    });

    // let params = {};
    ;
    let submit = document.getElementById("submit");
    submit.onclick = function () {
        let params = new FormData();
        let errorFound = false;
        let inputPostTitle = document.getElementById("offerItem").value.toString().trim();
        let pattern = /[^a-zA-Z0-9\s-\'.]/;
        if (document.getElementById("offerItem").value == null || document.getElementById("offerItem").value.toString().trim().length <2) {
            offerItemError = document.getElementById("offerItemError");
            
            offerItemError.hidden = false;
            offerItemError.display = true;
            offerItemError.innerHTML = "You must provide a not-null name and it must at least have 2 charcters";
            errorFound = true;
        }
        if(pattern.test(inputPostTitle)==true){
            offerItemError = document.getElementById("offerItemError");
            offerItemError.hidden = false;
            offerItemError.display = true;
            offerItemError.innerHTML = "Title can only contain letters a-z, A-Z , numbers, space and .\'-";
            errorFound = true;
        }
        
        
        if (document.getElementById("itemDesc").value == null || document.getElementById("itemDesc").value.toString().trim().length == 0) {
            itemDescError = document.getElementById("itemDescError");
            itemDescError.hidden = false;
            itemDescError.display = true;
            itemDescError.innerHTML = "You must provide a not-null description";
            errorFound = true;

        }
        if (document.getElementById("file").files[0] == null || document.getElementById("file").files[0] == undefined || validImgFlag != true) {
            imgError = document.getElementById("imgError");
            imgError.hidden = false;
            imgError.display = true;
            imgError.innerHTML = "You must provide a image of your item";
            errorFound = true;

        }
        if (errorFound == true || validImgFlag != true) {
            return;
        }


        params.append("upload_image", document.getElementById("file").files[0])

        params.append("postRegTitleInput", document.getElementById("offerItem").value);
        params.append("postRegBodyInput", document.getElementById("itemDesc").value);
        params.append("postRegCategoryInput", document.getElementById("postRegister-category").value);


        $.ajax({
            url: '/posts/postRegister',
            data: params,
            cache: false,
            // contentType: 'multipart/form-data',
            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
            processData: false,
            type: 'POST',
            success: function (data) {
                id = data.result._id;
                document.location.href = "/offers/post/" + id + "?created=true";
            },
            error: function (data) {
                errorBox = document.getElementById("errorBox");

                errorBox.hidden = false;
                errorBox.display = true;
                errorBox.innerHTML = data.responseJSON.result;
                span = document.createElement("span");
                span.innerHTML = "×";
                span.className = "close";
                //span.onclick = "this.parentElement.style.display='none';";
                span.onclick = function closeWarningBox() {
                    document.getElementById("errorBox").display = false;
                    document.getElementById("errorBox").hidden = true;
                };
                errorBox.appendChild(span);

            }
        });

    };

</script>